body{
  margin:0;
  font-family:Arial;
  background:#0b0f19;
  color:#e5e7eb;
}

header{
  padding:10px;
  background:#111827;
  text-align:center;
  border-bottom:1px solid #333;
}

.main{
  display:flex;
  padding:20px;
  gap:20px;
}

.left{ flex:2; }
.right{ flex:1; }

.card{
  background:#111827;
  padding:15px;
  margin-bottom:20px;
  border-radius:12px;
  box-shadow:0 0 15px rgba(0,0,0,0.6);
}

.price{
  font-size:32px;
  font-weight:bold;
}

.change{
  font-size:18px;
  margin-bottom:10px;
}

.up{ color:#22c55e; }
.down{ color:#ef4444; }

button{
  width:100%;
  margin:5px 0;
  padding:10px;
  border:none;
  border-radius:8px;
  background:#1f2937;
  color:white;
  cursor:pointer;
}

button:hover{
  background:#374151;
}
